/* Leaderboard & History */
#header {
    margin-bottom: 20px;
}

.input {
    display: flex;
}

.input p {
    margin-right: 20px;
    margin-left: 0px;
}

.input input {
    width: 50%;
    margin: 0px;
}

.point {
    padding: 5px 0px;
}

.details {
    padding-top: 30px;
}

#endgame {
    background-size: cover;
}

section {
    overflow: auto;
}