.wrapper-top {
    margin: 0px;
    display: flex;
    align-items: flex-start;
}

.profile-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    display: grid;
    float: left;
}

.profile-container .user-details {
    padding: 15px;
    background-color: rgba(51, 51, 51, 0.488);
}

.profile-img {
    height: 85px;
}


.played-details {
    background-repeat: no-repeat;
    background-size: cover;
}

#leaderboard-user-pane {
    background-color: rgba(0, 0, 0, 0.7);
    background-position: cover;
    width: 98%;
    border-radius: 90px;
}

#leaderboard-text-info {
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    border-radius: 90px;
    margin-left: 5px;
    text-align: center;
}

.leaderboard-profile {
    padding: 0px; 
    border-radius: 0px; 
    margin: none;
    display: flex;

}

.leaderboard-entry {
    border-radius: 90px;
    width: 100%;
}

#leaderboard-profile-text {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 90px;
    margin: 5px;
    width: 100%;
}

table tbody, table thead {
    display: block;
}

table tbody {
   overflow: auto;
   height: 300px;
   width: 100%;
}

td {
    padding: 10px 50px;
    border: 3px black solid;
    text-align: center;
    white-space: nowrap;
}

/* #pfp-edit {
    position: absolute;
    display: grid;
    margin-left: 63px;
    margin-top: 0px;
    background-color: rgba(20,20,20,0.8);
    padding: 3px 6px;
    border-radius: 90px;
}

.pfp-container {
    position: relative;
} */