.wrapper-top {
    margin: 0px;
    display: flex;
    align-items: flex-start;
}

.profile-container {
    margin: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 35px 35px;
    display: grid;
}

.profile-details {
    width: 100%;
    height: 100%;
}

.profile-container .user-details {
    padding: 15px;
    border-radius: 35px;
    background-color: rgba(51, 51, 51, 0.8);
}

.profile-img {
    height: 85px;
}


.played-details {
    background-repeat: no-repeat;
    background-size: cover;
}

#leaderboard-user-pane {
    background-color: rgba(0, 0, 0, 0.8);
    background-position: cover;
    width: 98%;
}

#leaderboard-text-info {
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    margin-left: 5px;
    text-align: center;
}

.leaderboard-profile {
    padding: 0px; 
    border-radius: 0px; 
    margin: none;
    display: flex;

}

#leaderboard-profile-text {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 35px 35px 0px 0px;
    margin: 5px;
}

#profile {
    overflow: auto;
    max-width: 1100px;
}