<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Traffic City</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body class="bg-vibrant">
    <%- include('navbar.ejs') -%>
    <div class="main">
        <section class="home bg-grey transform-105">
            <div class="content">
                <h1 class="header">Fly</h1>
                <div class="container">
                    <div class="mySlides">
                        <div class="numbertext">1 / 5</div>
                        <img src="../images/public/home/fly1.png" style="width:100%">
                    </div>
                    
                    <div class="mySlides">
                        <div class="numbertext">2 / 5</div>
                        <img src="../images/public/home/fly2.png" style="width:100%">
                    </div>
                    
                    <div class="mySlides">
                        <div class="numbertext">3 / 5</div>
                        <img src="../images/public/home/fly3.png" style="width:100%">
                    </div>
                        
                    <div class="mySlides">
                        <div class="numbertext">4 / 5</div>
                        <img src="../images/public/home/fly4.png" style="width:100%">
                    </div>
                    
                    <div class="mySlides">
                        <div class="numbertext">5 / 5</div>
                        <img src="../images/public/home/fly5.png" style="width:100%">
                    </div>
                        
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempore sapiente, voluptatem magni laudantium soluta vero beatae excepturi quos maxime veritatis sint ut fugit quod dignissimos earum aperiam praesentium accusamus dolore. Repudiandae est doloribus quas magnam in, nobis ad ratione iusto fugiat rem possimus, ipsam consequatur sapiente dolores sint libero.</p>
                    
                <button><a href="/signup">Start flying</a></button>
            </div>
        </section>
    
        <section class="home bg-green transform-105">
            <div class="content">
                <h1 class="header">Connect</h1>
                <div class="container">
                    <div class="mySlidesConnections">
                        <div class="numbertext">1 / 2</div>
                        <img src="../images/public/home/connect1.png" style="width:100%">
                    </div>
                    <div class="mySlidesConnections">
                        <div class="numbertext">1 / 2</div>
                        <img src="../images/public/home/connect2.png" style="width:100%">
                    </div>
                    <a class="prev" onclick="plusSlidesConnections(-1)">❮</a>
                    <a class="next" onclick="plusSlidesConnections(1)">❯</a>
                </div>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempore sapiente, voluptatem magni laudantium soluta vero beatae excepturi quos maxime veritatis sint ut fugit quod dignissimos earum aperiam praesentium accusamus dolore. Repudiandae est doloribus quas magnam in, nobis ad ratione iusto fugiat rem possimus, ipsam consequatur sapiente dolores sint libero.</p>
                <button><a href="/signup">Start connections</a></button>
            </div>
        </section>
    
        <section class="home bg-blue transform-105">
            <div class="content">
                <h1 class="header">Features</h1>
                <div class="features">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h3>Feature e.g.</h3>
                            </div>
                            <div class="flip-card-back">
                                <h4>Some feature name</h4>
                                <p>Details</p>
                                <p>benefits</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h3>Feature e.g.</h3>
                            </div>
                            <div class="flip-card-back">
                                <h4>Some feature name</h4>
                                <p>Details</p>
                                <p>benefits</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h3>Feature e.g.</h3>
                            </div>
                            <div class="flip-card-back">
                                <h4>Some feature name</h4>
                                <p>Details</p>
                                <p>benefits</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h3>Feature e.g.</h3>
                            </div>
                            <div class="flip-card-back">
                                <h4>Some feature name</h4>
                                <p>Details</p>
                                <p>benefits</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h3>Feature e.g.</h3>
                            </div>
                            <div class="flip-card-back">
                                <h4>Some feature name</h4>
                                <p>Details</p>
                                <p>benefits</p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h3>Feature e.g.</h3>
                            </div>
                            <div class="flip-card-back">
                                <h4>Some feature name</h4>
                                <p>Details</p>
                                <p>benefits</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempore sapiente, voluptatem magni laudantium soluta vero beatae excepturi quos maxime veritatis sint ut fugit quod dignissimos earum aperiam praesentium accusamus dolore. Repudiandae est doloribus quas magnam in, nobis ad ratione iusto fugiat rem possimus, ipsam consequatur sapiente dolores sint libero.</p>
                <button><a href="/signup">Join us</a></button>
            </div>
        </section>
    </div>
</body>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    showSlidesConnections(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function plusSlidesConnections(n) {
        showSlidesConnections(slideIndex += n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";        
    }

    function showSlidesConnections(n) {
        let x;
        let slidesConnections = document.getElementsByClassName("mySlidesConnections");
        if (n > slidesConnections.length) {slideIndexConnections = 1}
        if (n < 1) {slideIndexConnections = slidesConnections.length}
        for (x = 0; x < slidesConnections.length; x++) {
            slidesConnections[x].style.display = "none";
        }
        slidesConnections[slideIndexConnections-1].style.display = "block";
    }
    </script>
</html>