<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ended | AT city</title>
    <link rel="shortcut icon" href="/private/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/private/css/framework.css">
    <link rel="stylesheet" href="/game/style.css">
</head>
<body>
    
    <section id="endgame">
        <div class="container">
            <h1 id="level" class="text-center"></h1>
            <p class="pdetail">Details on your performance:</p>
            <table>
                <tr>
                    <th class="text-center fs20">Name: </th>
                    <th class="text-center fs20"><%= name %></th>
                </tr>
                <tr>
                    <th class="text-center fs20">Time: </th>
                    <th id="timetaken" class="point fs20"></th>
                </tr>
                <!-- <tr>
                    <th class="text-center fs20">Best Performing Aircraft: </th>
                    <th id="bestaircraft" class="point fs20"></th>
                </tr> -->
                <tr>
                    <th class="text-center fs20">Score: </th>
                    <th id="score" class="point fs20"></th>
                </tr>
            </table>
            <button id="eog" class="fs15">Back to home</button>
            <button class="fs15" id="eog-small">or add to leaderboard</button>

        </div>
    </section>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        let details = window.location.href.split('?')[1] // get all details after the ?
        let time_taken = CryptoJS.AES.decrypt(details.split('&')[0], "time").toString(CryptoJS.enc.Utf8); // first value
        let total_score = CryptoJS.AES.decrypt(details.split('&')[1], "score").toString(CryptoJS.enc.Utf8); // second value
        let level_played = CryptoJS.AES.decrypt(details.split('&')[2], "level").toString(CryptoJS.enc.Utf8); // third value
        // let best_plane = details.split('&')[3] // fourth value

        $.get('../db/contentController.json', json => { // get the data from this file location, use json as variable
            // getting the image through cycling all level names in the json file
            for(let i = 0; i < json.library.levels.titles.length; i++) {
                if(json.library.levels.titles[i] == level_played) {
                    // set the background to correlated condition
                    $('#endgame').css('background-image', `url(../../private/images/levels/${level_played}.jpg)`)
                }
            }
        })

        // setting text for each differernt id in the endgame.html file
        $('#level').text(`Game ended at ${level_played}`)
        $('#timetaken').text(`${Math.floor(time_taken/60)} minute${time_taken/60 >= 1 ? 's' : ''}`)
        $('#score').text(`${total_score} point${total_score == 1 ? '' : 's'}`)
        // $('#bestaircraft').text(`Best performing aircraft: ${best_plane}`)

        $('#eog').click(() => {
            window.location.href = `/usr_history_submit?score=${total_score}&level=${level_played}`
        })

        $('#eog-small').click(() => {
            window.location.href = `/usr_leaderboard_submit?score=${total_score}&level=${level_played}`
        })

    </script>
</body>
</html>