<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Play | ATC</title>
    <link rel="stylesheet" href="/private/css/framework.css">
    <link rel="stylesheet" href="/private/css/library.css">
    <link rel="stylesheet" href="/private/css/navbar.css">
    <link rel="shortcut icon" href="/private/images/logo.png" type="image/x-icon">
</head>
<body>
    <div id="nav"></div>
    <span style="display: none;" id="pfp-ejs"><%= user["pfp"] %></span>
    <section id="library" class="vw80">
        <div class="quick-actions">
            <a class="level-nav" href="#" id="link-quick-play">Quick Play</a>
            <a class="level-nav" href="#" id="link-library">Library</a>
        </div>
        <div class="container" id="quick-play-ui">
            <div id="quick-play" class="levels m10"></div>
        </div>
        <div class="container" id="lib-ui" style="display: none;">
            <h1 class="fs30 m20 text-center">Library</h1>
            <div id="levels" class="levels m10"></div>
        </div>
    </section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/private/src/Qhome.js"></script>
    <script>
        $(() => {
            $('#nav').load('/views/navbar.ejs')
        })
    </script>
</body>
</html>