<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/private/css/boards.css">
    <link rel="stylesheet" href="/private/css/framework.css">
    <link rel="shortcut icon" href="/private/images/logo.png" type="image/x-icon">
    <title>Login | ATC</title>
</head>
<body>
    <section id="login" class="board p20 vw75 pos-center">
        <h1 class="text-center m10">Login</h1>
        <div class="sep"></div>
        <div class="container">
            <form id="signup-form" action="login" method="POST">
                <tr>
                    <th><label class="fs20">Username: </label></th>
                    <th><input type="name" name="email" id="username" placeholder="username" autocomplete="on" class="color-black fs20 m10 item text-center"> </th>
                </tr>
                <tr>
                    <th><label class="fs20">Password: </label></th>
                    <th> <input type="password" name="password" id="password" autocomplete="on" placeholder="password" class="color-black fs20 m10 item text-center"></th>
                </tr>
                <button class="fs20 text-center m10" type="submit">Login</button>
            </form>
            
            <div class="auth-link">
                <p class="fs20 text-center">Already have an account? <a class="fs20" href="/register">Register one</a>.</p>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/private/src/Qauth.js"></script>
</body>
</html>