<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../private/css/navbar.css">
    <link rel="stylesheet" href="../private/css/framework.css">
</head>
<body>
    <section class="navbar">
        <div class="static-left">
            <a href="#"><img src="/private/images/logo.png" alt="" onclick="javascript:window.history.back(-1);return false;"></a>
            <span id="time" class="fs30"><div class="time-loading"></div></span>
        </div> 
        <ul id="links">
            <div id="auth">
                <li><a href="/library"><img src="/private/images/home.png" style="border-radius: 0px;" alt="Home"></a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/profile?id=current"><img id="pfp"></a></li>
            </div>
        </ul>
    </section>
    <script src="/private/src/Time.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
        $.get('../db/currentUser.json', data => {
            $('#pfp').attr('src', `${data.user.pfp}`)
        })

        // create time function
        function refreshTime() {
            // recieves which id to inject result of block code to
            const timeDisplay = document.getElementById("time");
            // assign the time (HH:MM:SS)
            const timeString = new Date().toLocaleTimeString();


            // now attach timeString variable to the selected id
            timeDisplay.textContent = timeString;

        } setInterval(refreshTime, 1000)== time; // how much of a delay should be applied before being called again
    </script>
</body>
</html>



