<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/private/css/framework.css">
    <link rel="stylesheet" href="/private/css/boards.css">
    <link rel="shortcut icon" href="/private/images/logo.png" type="image/x-icon">
    <title>Sign Up | ATC</title>
</head>
<body>
    <section id="signup" class="board p20 vw75 pos-center">
        <h1 class="text-center m10">Signup</h1>
        <div class="sep"></div>
        <div class="container">
            <form id="signup-form" action="/register" method="POST">
                <tr>
                    <th><label class="fs20">Full Name: </label></th>
                    <th><input type="text" name="name" id="signup-full-name" placeholder="Full Name" class="color-black fs20 m10 item text-center" required></th>
                </tr>
                <tr>
                    <th><label class="fs20">Email: </label></th>
                    <th><input type="email" name="email" id="signup-email" placeholder="E-mail" class="color-black fs20 m10 item text-center" required></th>
                </tr>
                <tr>
                    <th><label class="fs20">Password: </label></th>
                    <th><input type="password" name="password" id="signup-password" autocomplete="on" placeholder="Password" class="color-black fs20 m10 item text-center" required></th>
                </tr>
                <button class="fs20 text-center m10" type="submit">Sign Up</button>
            </form>
            
            <div class="auth-link">
                <p class="fs20 text-center">Already have an account? <a class="fs20" href="/login">Login</a>.</p>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- <script src="/private/src/Qauth.js"></script> -->
</body>
</html>