<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/private/css/framework.css">
    <link rel="stylesheet" href="/private/css/boards.css">
    <link rel="shortcut icon" href="/private/images/logo.png" type="image/x-icon">
    <title>Sign Up | ATC</title>
</head>
<body>
    <section id="signup" class="container p20 vw75 pos-center">
        <h1 class="text-center m10">Signup</h1>
        <div class="sep">
            <%_ if(reason == 'full_name') { %>
                <p class="color-red fs20 text-center">Please enter a full name.</p>
            <%_ } %>
            <%_ if(reason == 'password_length') { %>
                <p class="color-red fs20 text-center">Your password is not long enough.</p>
            <%_ } %>
        </div>
        <div class="inner-container">
            <form id="signup-form" action="/register" method="POST">
                <tr>
                    <th><label class="fs20">Full Name: </label></th>
                    <th><input type="text" name="name" id="signup-full-name" placeholder="Full Name" class="color-black fs20 m10 item text-center" required></th>
                </tr>
                <tr>
                    <th><label class="fs20">Email: </label></th>
                    <th><input type="email" name="email" id="signup-email" placeholder="E-mail" class="color-black fs20 m10 item text-center" required></th>
                </tr>
                <tr>
                    <th><label class="fs20">Password: </label></th>
                    <th><input type="password" name="password" id="signup-password" placeholder="Password" class="color-black fs20 m10 item text-center" required></th>
                </tr>
                <button class="fs20 color-grey text-center" type="submit">Sign Up</button>
            </form>
            
            <div class="auth-link">
                <p class="fs20 text-center">Already have an account? <a class="fs20" href="/login">Login</a>.</p>
            </div>
        </div>
    </section>
</body>
</html>