<link rel="stylesheet" href="/css/private.css">
<script src="https://kit.fontawesome.com/1b44e05b6f.js" crossorigin="anonymous"></script>
<section id="navbar" class="navbar sticky">
    <div style="margin-left: 10px;">
        <ul>
            <a href="/home" style="padding: 5px; margin: 0px; height: 30px;" class="transform-120">
                <img src="../images/icon.png" alt="Logo" style="height: 25px; margin-top: 0px; margin-right: 10px;">
                Air Traffic City
            </a>
            <p>v1.0</p>
        </ul>
        
    </div> 
    <div style="margin-right: 10px;">
        <ul>
            <li><a href="/search" class="transform-120"><img src="../../images/private/search.png" alt="" style="height: 20px; margin-right: 10px;">Search</a></li>
           <li><a href="/leaderboard" class="transform-120">Leaderboard</a></li>
           <!-- <li><a href="/profile/current" class="transform-120">Profile</a></li> -->
           <li><a href="/settings" class="transform-120">Settings</a></li>
        </ul>
    </div>
</section>