<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Settings | ATC</title>
</head>
<body class="bg-settings">
    <%- include('navbar.ejs') -%>
    <div class="sections">
        <h1 class="page-title">Settings</h1>
        <section class="settings">
            <div class="sidebar">
                <h1 class="title transform-120">Options</h1>
                <div class="items">
                    <p class="transform-105"><a href="/profile/current">Profile</a></p>
                    <p class="transform-105"><a href="#" style="cursor: not-allowed;">General</a></p>
                    <p class="transform-105"><a href="#" style="cursor: not-allowed;">Gameplay</a></p>
                    <p class="transform-105"><a href="#" style="cursor: not-allowed;">Change UI</a></p>
                    <p class="transform-105"><a href="/logout" >Log out</a></p>
                </div>
            </div>
            <div>
                <p>Room to expand in future updates</p>
            </div>
        </section>
    </div>
</body>
</html>