* {
    margin: auto;
    padding: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    margin-top: 20vh;
    display: grid;
    padding: 40px;
    height: 50vh;
    width: 80vw;
    border-radius: 15px;
}

a {
    text-decoration: none;
    transition: ease-in-out;
    transition-duration: 1s;
}

a:hover {
    color: blue;
    transition: ease-in-out;
    transition-duration: 1s;
}

.flex {
    display: flex;
    width: 100%;
}

.pdetail {
    font-size: 13px;
}

.input {
    display: flex;
}

.input p {
    margin-right: 20px;
    margin-left: 0px;
}

.input input {
    width: 50%;
    margin: 0px;
}

.point {
    padding: 5px 0px;
}

.container {
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 20px;
    display: grid;
    width: 70%;
}

.details {
    padding-top: 30px;
}

#endgame {
    background-size: cover;
}

button{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: cubic-bezier(.68,-0.55,.27,1.55);
    transition-duration: 1s;
    width: 70%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(216, 216, 216); /* Green */
    color: black;
    transition: cubic-bezier(.68,-0.55,.27,1.55);
    transition-duration: 1s;
    border-radius: 50px;
    width: 95%;
}