<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Airframe | <%= user.name.split(' ')[0] %></title>
</head>
<body>
    <div id="nav"></div>
    <section id="airframe-board" class="vw85">
        <div class="container">
            <h1 class="text-center fs30 m20 p20">Make a new airframe</h1>
        </div>
    </section>
</body>
</html>